<section>
  <header>
    Organizer: <strong>{{ dateService.date | async | dayjs:'DD.MM.YYYY' }}</strong>
    <hr/>
  </header>
  <main>
    <ul *ngIf="tasks.length; else noTasks">
      <li class="task" *ngFor="let task of tasks; let i = index">
        <span>
          <strong>{{ i + 1 }}</strong>
          {{task.name}}
        </span>
        <button class="btn btn-primary" (click)="remove(task.id)">Șterge</button>
      </li>
    </ul>
    <ng-template #noTasks>
      <p class="text-center">Fără sarcini...</p>
    </ng-template>
  </main>
  <footer>
    <form (ngSubmit)="submit()" [formGroup]="form">
      <input type="text" formControlName="name">
      <button type="submit"
              class="btn btn-primary btn-block"
              [disabled]="form.invalid">
        Adaugă
      </button>
    </form>
  </footer>
</section>
